a:hover, a:focus{ outline:none;}
input[type=checkbox], input[type=radio]{
	& + label{
		position:relative;
		.lable_info{
			background-color:#b2b0b0;
			border-left:1px solid #fff;
			border-radius:0 5px 5px 0;
			position:absolute;
			right:0;
			top:0;
			height:100%;
			line-height:62px;
			width:42px;
			text-align:center;
			vertical-align:middle;
			span{
				width:20px;
				height:20px;
				line-height:20px;
				font-weight:bold;
				font-size:15px;
				border-radius:50%;
				display:inline-block;
				background:#fff;
				color:#b2b0b0;
				text-align:center;
			}
		}
	}
	&:not(old){
		width : 2em;
		margin : 0;
		padding : 0;
		font-size : 1em;
		opacity : 0;
	}
	&:not(old) + label{
		display : inline-block;
		line-height : 62px;
		height :64px;
		background : #f5f2f2;
		border: 1px solid #eeeded;
		margin-bottom: 10px;
		padding:0 20px;
		border-radius:5px;
		-moz-border-radius:5px;
		-webkit-border-radius:5px;
		min-width:300px;
		font-weight:bold;
		& > span{
			display :inline-block;
			width :26px;
			height :26px;
			margin :0 15px 0 0;
			border :1px solid #989797;
			border-radius :50%;
			vertical-align : middle;
		}
		&.twolines{
			line-height:20px!important;
			padding-top:11px;
			& > span{
				margin-top:8px;
				float:left;
			}
		}
	}
	&:hover + label{
		background:#e6e3e3;
		border-color:#bbb9b9;
		.lable_info{
			background-color:#a9a7a7;
			span{
				color:#a9a7a7;
			}
		}	
	}
	&:not(old):checked + label{
		background:#1baebb;
		border-color:#35b7c3;
		color:#fff;
		& > span{
			background:none;
			border-color:#fff;
			overflow:hidden;
			&:before{
				content:'';
				background-image:url(../images/tick.png);
				background-position:center center;
				display : block;
				width :26px;
				height:26px;
				text-align:center;
				font-weight: bold;
			}
		}
		.lable_info{
			background-color:#26878e;
			span{
				color:#26878e;
			}
		}	
	}
}
.gender_box{
	input[type=radio]{
		&:not(old) + label{
			background-position: center center;
			background-repeat: no-repeat;
			border-radius: 10px;
			height: 210px;
			width: 210px;
			min-width:inherit;
			text-indent: -9999px;
		}
	}
	.gender_m{
		display:inline-block;
		input[type=radio]{
			&:not(old) + label{
				background-image:url(../images/boy_gray.png);
			}
			&:not(old):checked + label{
				background-image:url(../images/boy_white.png);	
			}
		}
	}
	.gender_f{
		display:inline-block;
		input[type=radio]{
			&:not(old) + label{
				background-image:url(../images/girl_gray.png);
			}
			&:not(old):checked + label{
				background-image:url(../images/girl_white.png);	
			}
		}
	}
	&.round_mf{
		input[type=radio]{
			&:not(old) + label{
				border-radius:50%;
			}
		}	
	}
}
.button_action{
	margin-top:15px;
	.btn{
		width:160px;
		height:54px;
		font-weight:bold;
		font-size:16px;
	}
}
.btn{
	&.btn-gray{
		background-color:#f5f2f2;
		border:1px solid #eeeded;
		&:hover{
			background-color:#e6e3e3;
			border-color:#bbb9b9;
		}
	}
	&.btn-next{
		background-color:#8e72a4;
		border:1px solid #a48db6;
		color:#fff;
		&:hover{
			background-color:#7a618d;
			border-color:#937ea2;
		}
		&:disable, &:disable::hover {
			background-color:#cdbbdd;
			border-color:#d9cae6;
		}
	}
	&.btn-skip{
		background-color:#3c454e;
		border:1px solid #616971;
		color:#fff;
		&:hover{
			background-color:#282e35;
			border-color:#51565c;
		}
	}
}
.toggle_buttons{
	.btn{
		&.btn-gray{
			height:64px;
			line-height : 62px;
			background : #f5f2f2;
			border: 1px solid #eeeded;
			margin-bottom: 10px;
			padding:0 20px;
			border-radius:5px;
			-moz-border-radius:5px;
			-webkit-border-radius:5px;
			min-width:300px;
			font-weight:bold;
			&:hover{
				background:#e6e3e3;
				border-color:#bbb9b9;
			}
			&.selected{
				background:#1baebb;
				border-color:#35b7c3;
				color:#fff;
			}
			&.twolines{
				line-height:20px;				
			}
		}
	}
}
.agebox{
	font-size:18px;
	font-weight:bold;
	input{
		border:none;
		border-bottom:2px dotted #333;
		max-width:80px;
		text-align:center;
		color:#1baebb;
	}
}
.btn-qmark{
	background-color:#949494;
	width:20px;
	height:20px;
	line-height:20px;
	font-weight:bold;
	font-size:15px;
	border-radius:50%;
	display:inline-block;
	color:#fff;
	text-align:center;
	cursor:pointer;
}
.dropdown{
	#drop_menu{
		background:#1baebb;
		border:1px solid #35b7c3;
		color:#fff;	
		width: 210px;
		height:66px;
		text-align:center;
		line-height:66px;
	}
	.dropdown-menu{
		left:7%;
		background:#3c454f;
		a{
			text-align:center;
			color:#fff!important;
			background:none;
			&:hover{
				color:#1baebb!important;
				background:none;
			}
		}
	}
}
.modal-body{ text-align:center;}
.modal-body h4{ padding:10px 0 20px;}
.btn-modalclose{
	background-color:#9074a7;
	color:#fff;
	width:100%;
}
@media (max-width: $screen-xs-max){}
